<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERMERCADO 2 IRMÃOS</title>
    <!--Ao puxar o Css se lembre de não referenciar os diretórios, nesse caso 
    não referenciar a wwwroot-->
    <link rel="stylesheet" href="~/css/Layout.css">
</head>
<header>
    <div class="container">
        <div id="main"><SPAN>SUPERMERCADO 2 IRMÃOS</SPAN></div>
    </div>
    <div id="adressLink">
        <div id="contentAdressLink">
            <div class="linkRazorPages"><a href="../index">PROMOÇÕES</a></div>
            <div class="linkRazorPages"><a href="../Produtos">ENDEREÇOS</a></div>
            <div class="linkRazorPages"><a href="">CATOLOGO</a></div>
            <div class="linkRazorPages"><a href="">INFORMAÇÕES</a></div>
            <div class="linkRazorPages"><a href="">SUPORTE</a></div>
        </div>
    </div>
</header>

<body>
    @RenderBody()
</body>

</html>