<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERMERCADO 2 IRMÃOS</title>
    <!--Ao puxar o Css se lembre de não referenciar os diretórios, nesse caso 
    não referenciar a wwwroot-->
    <link rel="stylesheet" href="~/css/Layout.css">
</head>
    <header>
        <div class="container">
            <div id="temperatura"></div>
                <div id="main"><SPAN>CADASTRO 2 IRMÃOS</SPAN></div>
            <div id="jogoDaForca"></div>
        </div>
    </header>
    <body>
        @RenderBody()

        <a href="../Produtos">Produtos</a>
        <a href="../index">index</a>
    </body>
</html>