@page
@model cadastroEstabelecimento.pages.Produtos
@{
    Layout = "~/pages/shared/Layout.cshtml";
    ViewData["Title"] = "Produtos";
}

<head>
    <style>
        h1 {
            font-size: 40px;
        }
    </style>
</head>

<h1>@ViewData["Title"]</h1>

<div>
    
</div>